annotated-types==0.7.0
anyio==4.9.0
anywidget==0.9.18
appdirs==1.4.4
asgiref==3.8.1
asttokens==3.0.0
attrs==25.4.0
branca==0.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
chevron==0.14.0
click==8.2.1
click-plugins==1.1.1.2
cligj==0.7.2
comm==0.2.2
contourpy==1.3.2
cycler==0.12.1
decorator==5.2.1
eval-type-backport==0.2.2
executing==2.2.0
faicons==0.2.2
fiona==1.10.1
fonttools==4.59.0
future==1.0.0
geopandas==0.14.4
h11==0.16.0
htmltools==0.6.0
idna==3.10
ipyleaflet==0.19.2
ipython==9.2.0
ipython-pygments-lexers==1.1.1
ipywidgets==8.1.7
jedi==0.19.2
jinja2==3.1.6
jupyter-core==5.7.2
jupyter-leaflet==0.19.2
jupyterlab-widgets==3.0.15
kiwisolver==1.4.8
linkify-it-py==2.0.3
lzstring==1.0.4
maplibre==0.3.5
markdown-it-py==3.0.0
markupsafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
mizani==0.14.2
narwhals==1.40.0
numpy==2.2.6
orjson==3.10.18
packaging==25.0
pandas==2.2.3
parso==0.8.4
patsy==1.0.1
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.3.8
plotly==6.1.1
plotnine==0.15.0
pmtiles==3.5.0
prompt-toolkit==3.0.51
psygnal==0.13.0
ptyprocess==0.7.0
pure-eval==0.2.3
pydantic==2.12.3
pydantic-core==2.41.4
pygments==2.19.1
pyogrio==0.11.0
pyparsing==3.2.3
pyproj==3.7.1
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytz==2025.2
questionary==2.1.0
requests==2.32.3
scipy==1.16.0
seaborn==0.13.2
setuptools==80.8.0
shapely==2.1.1
shiny==1.4.0
shinylive==0.8.4
shinywidgets==0.6.2
six==1.17.0
sniffio==1.3.1
stack-data==0.6.3
starlette==0.46.2
statsmodels==0.14.5
traitlets==5.14.3
traittypes==0.2.1
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.2
uc-micro-py==1.0.3
urllib3==2.4.0
uvicorn==0.34.2
watchfiles==1.0.5
wcwidth==0.2.13
websockets==15.0.1
widgetsnbextension==4.0.14
xyzservices==2025.4.0
