annotated-types==0.7.0
anyio==4.11.0
anywidget==0.9.18
appdirs==1.4.4
asgiref==3.10.0
asttokens==3.0.0
attrs==25.4.0
branca==0.8.2
certifi==2025.10.5
charset-normalizer==3.4.4
chevron==0.14.0
click==8.3.0
click-plugins==1.1.1.2
cligj==0.7.2
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
decorator==5.2.1
eval-type-backport==0.2.2
executing==2.2.1
faicons==0.2.2
fiona==1.10.1
fonttools==4.60.1
future==1.0.0
geopandas==0.14.4
h11==0.16.0
htmltools==0.6.0
idna==3.11
ipyleaflet==0.20.0
ipython==9.6.0
ipython-pygments-lexers==1.1.1
ipywidgets==8.1.8
jedi==0.19.2
jinja2==3.1.6
jupyter-core==5.9.1
jupyter-leaflet==0.20.0
jupyterlab-widgets==3.0.16
kiwisolver==1.4.9
linkify-it-py==2.0.3
lzstring==1.0.4
maplibre==0.3.5
markdown-it-py==4.0.0
markupsafe==3.0.3
matplotlib==3.10.7
matplotlib-inline==0.2.1
mdit-py-plugins==0.5.0
mdurl==0.1.2
mizani==0.14.3
narwhals==2.10.1
numpy==2.3.4
orjson==3.11.4
packaging==25.0
pandas==2.3.3
parso==0.8.5
patsy==1.0.2
pexpect==4.9.0
pillow==12.0.0
platformdirs==4.5.0
plotly==6.3.1
plotnine==0.15.1
pmtiles==3.5.0
prompt-toolkit==3.0.52
psygnal==0.15.0
ptyprocess==0.7.0
pure-eval==0.2.3
pydantic==2.12.3
pydantic-core==2.41.4
pygments==2.19.2
pyogrio==0.11.0
pyparsing==3.2.5
pyproj==3.7.2
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytz==2025.2
questionary==2.1.1
requests==2.32.5
scipy==1.16.3
seaborn==0.13.2
setuptools==80.9.0
shapely==2.1.2
shiny==1.5.0
shinychat==0.2.8
shinylive==0.8.4
shinywidgets==0.7.0
six==1.17.0
sniffio==1.3.1
stack-data==0.6.3
starlette==0.50.0
statsmodels==0.14.5
traitlets==5.14.3
traittypes==0.2.3
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.2
uc-micro-py==1.0.3
urllib3==2.5.0
uvicorn==0.38.0
watchfiles==1.1.1
wcwidth==0.2.14
websockets==15.0.1
widgetsnbextension==4.0.15
xyzservices==2025.10.0
